<input type="checkbox" name="burger" value="checkbox-menu" id="input-burger" />
<label for="input-burger" class="burger">
    <span class="burger__line"></span>
    <span class="burger__line"></span>
    <span class="burger__line"></span>
</label>

<header class="header">
    <div class="header-wrapper">
        <p id="logo" class="logo">&lt;izosimov/&gt;</p>
        <nav class="menu">
            <a href="#" class="menu__item" id="works-btn">Работы</a>
            <a href="#" class="menu__item" id="skills-btn">Навыки</a>
            <a href="#" class="menu__item" id="github-btn">Репозитории Github</a>
        </nav>
        <div class="contacts">
            <a href="tel:+79997145947" class="contacts__tel">+7 (999) 714-59-47</a>
        </div>
        <div class="all-contacts">
            <p class="all-contacts__description">Свяжитесь со мной</p>
            <a href="mailto:artem.izosimov@yandex.ru" class="all-contacts__link">artem.izosimov@yandex.ru</a>
            <a href="tel:+79997145947" class="all-contacts__link">+7 (999) 714-59-47</a>
            <div class="social-networks">
                <a href="https://github.com/izosimov" target="_blank" class="social-networks__link social-networks__link_github social-networks__link_dark"></a>
                <a href="https://linkedin.com/in/артём-изосимов-601882173" target="_blank" class="social-networks__link social-networks__link_linkedin social-networks__link_dark"></a>
                <a href="https://instagram.com/a.izosimov" target="_blank" class="social-networks__link social-networks__link_instagram social-networks__link_dark"></a>
                <a href="https://t.me/izosimov" target="_blank" class="social-networks__link social-networks__link_telegram social-networks__link_dark"></a>
                <a href="https://vk.com/artem_izosimov" target="_blank" class="social-networks__link social-networks__link_vk social-networks__link_dark"></a>
            </div>
        </div>
    </div>
</header>
