<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Junior frontend-developer</title>
        <meta name="keywords" content="Портфолио, frontend-developer, frontend, web-development, вёрстка, javascript" />
        <meta name="description" content="Сайт-визитка junior frontend-разработчика из Москвы Артёма Изосимова. Вёрстка сайтов, создание web-интерфейсов, javascript-разработка." />
        <meta property="og:title" content="Junior frontend-разработчик Артём Изосимов" />
        <meta property="og:url" content="https://izosimov.github.io/final-project/website/" />
        <meta property="og:image" content="images/coding.jpg" />
        <meta property="og:image:width" content="600" />
        <meta property="og:image:height" content="300" />
        <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <link rel="stylesheet" href="styles/styles.min.css" />
    </head>
    <body>
        <div class="site-spinner-wrap">
            <img src="images/spinner.svg" alt="spinner" id="site-spinner" />
        </div>
        {{> header }}
        {{> greeting-section }}
        {{> recent-works }}
        {{> skills }}
        {{> github }}
        {{> summary }}
        {{> footer }}
        <script type="text/javascript" src="scripts/scripts.min.js"></script>
    </body>
</html>
