<section class="summary">
    <div class="general-wrapper summary-wrapper">
        <h2 class="section-title">Сотрудничество</h2>
        <div class="summary__description">
            <p class="classic-text summary__text">Ищите ответственного, пунктуального и качественного исполнителя для вашего проекта? Я всегда открыт к интересным задачам и буду рад нашему сотрудничеству.</p>
            <p class="classic-text summary__text">Я начинающий frontend-разработчик, создаю удобные пользовательские интерфейсы. Мне интересны новые технологии, web-разработка в целом. Для разработчика непременно важно
            постоянно разиваться и не стоять на месте, поэтому я регулярно прохожу онлайн-курсы на Udemy и читаю профессиональную литературу. Также проходил обучение в <a href="https://webheroschool.ru" target="_blank" class="simple-ref">WebHeroSchool</a>.
            Сейчас стремлюсь пополнить багаж навыков, изучая React и его основы. К работе подхожу ответственно, задания выполняю в срок и считаю, что одно из самых важных качеств в профессии - сделать не просто "чтобы как-то работало", а
            стремиться получить качественный результат, на исправление багов которого в будущем заказчику не придётся тратить нервы, деньги и время.</p>
            <a href="mailto:artem.izosimov@yandex.ru" class="summary__link">artem.izosimov@yandex.ru</a>
        </div>
    </div>
</section>
