<section id="works-section" class="recent-works">
    <div class="general-wrapper">
        <div class="recent-works__container">
            <div class="recent-works__header">
                <h2 class="section-title">Последние работы</h2>
                <span class="recent-works__show-more">Смотреть ещё</span>
            </div>
            <div class="recent-works__list">
                <div class="recent-works__row">
                    <a href="https://webheroschool.github.io/tesla-izosimov/build/" target="_blank" class="recent-works__item">
                        <img src="images/tesla.jpg" alt="Макет Tesla" class="recent-works__img" />
                        <div class="recent-works__item_hover-wrap">
                            <div class="recent-works__item_hover">
                                <p class="recent-works__item-name">Tesla landing page</p>
                                <p class="recent-works__item-description">Пример адаптивной вёрстки (без JS)</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://webheroschool.github.io/izosimovGame/" target="_blank" class="recent-works__item">
                        <img src="images/mouse.jpg" alt="игра Catch mouse" class="recent-works__img" />
                        <div class="recent-works__item_hover-wrap">
                            <div class="recent-works__item_hover">
                                <p class="recent-works__item-name">Игра "Поймай мыша"</p>
                                <p class="recent-works__item-description">Браузеная игра с emoji. Попробуй.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="recent-works__row">
                    <a href="https://webheroschool.github.io/tesla-izosimov/build/" target="_blank" class="recent-works__item">
                        <img src="images/tesla.jpg" alt="Макет Tesla" class="recent-works__img" />
                        <div class="recent-works__item_hover-wrap">
                            <div class="recent-works__item_hover">
                                <p class="recent-works__item-name">Tesla landing page</p>
                                <p class="recent-works__item-description">Пример адаптивной вёрстки (без JS)</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://webheroschool.github.io/izosimovGame/" target="_blank" class="recent-works__item">
                        <img src="images/mouse.jpg" alt="игра Catch mouse" class="recent-works__img" />
                        <div class="recent-works__item_hover-wrap">
                            <div class="recent-works__item_hover">
                                <p class="recent-works__item-name">Игра "Поймай мыша"</p>
                                <p class="recent-works__item-description">Браузеная игра с emoji. Попробуй.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
