<section id="github-section" class="github">
    <div class="general-wrapper github__wrapper">
        <div class="left-side">
            <div class="github__repository-list" id="gitHubReposList">
                <img src="images/spinner.svg" alt="spinner" id="spinner" />
            </div>
        </div>
        <div class="github__headline">
            <h2 class="section-title">Git repository</h2>
            <p class="classic-text">Вы можете ознакомиться с моими репозиториями на GitHub'е.
            Большинство работ выполнены в рамках заданий в <a href="https://www.webheroschool.ru" target="_blank" class="simple-ref">WebHeroSchool</a>. Но периодически я пополняю профиль и своими сторонними проектами.</p>
        </div>
    </div>
</section>
