<footer class="footer">
    <div class="general-wrapper footer-wrapper">
        <div class="footer__represent">
            <h3 class="footer__name">Артём Изосимов</h3>
            <p class="footer__description">Junior Frontend-разработчик / HTML-верстальщик для вашего проекта.</p>
        </div>
        <div class="footer__menu">
            <p class="footer__menu-name">Меню</p>
            <a href="#" id="works-btn-footer" class="footer__menu-item">Работы</a>
            <a href="#" id="skills-btn-footer" class="footer__menu-item">Навыки</a>
            <a href="#" id="github-btn-footer" class="footer__menu-item">Репозитории Github</a>
        </div>
        <div class="footer__contacts">
            <p class="footer__contacts-name">Контакты</p>
            <a href="mailto:artem.izosimov@yandex.ru" class="footer__contact-link">artem.izosimov@yandex.ru</a>
            <a href="tel:+79997145947" class="footer__contact-link">+7 (999) 714-59-47</a>
            <div class="social-networks">
                <a href="https://github.com/izosimov" target="_blank" class="social-networks__link social-networks__link_github"></a>
                <a href="https://linkedin.com/in/артём-изосимов-601882173" target="_blank" class="social-networks__link social-networks__link_linkedin"></a>
                <a href="https://instagram.com/a.izosimov" target="_blank" class="social-networks__link social-networks__link_instagram"></a>
                <a href="https://t.me/izosimov" target="_blank" class="social-networks__link social-networks__link_telegram"></a>
                <a href="https://vk.com/artem_izosimov" target="_blank" class="social-networks__link social-networks__link_vk"></a>
            </div>
        </div>
    </div>
</footer>
