<section class="greeting">
    <div class="general-wrapper greeting-wrapper">
        <div class="left-side">
            <div class="greeting__info-wrap">
                <div class="greeting__represent">
                    <h1 class="greeting__title">Артём <span class="greeting__surname">Изосимов</span></h1>
                    <p class="greeting__description" id="changing-string"></p>
                </div>
                <div class="greeting__contacts">
                    <a href="mailto:artem.izosimov@yandex.ru" class="greeting__contact-link">Напишите мне <span class="my-contact">artem.izosimov@yandex.ru</span></a>
                    <a href="tel:+79997145947" class="greeting__contact-link">Или позвоните <span class="my-contact">+7 (999) 714-59-47</span></a>
                    <p class="greeting__contact-link geo-mark">Москва, Россия</p>
                </div>
            </div>
            <div class="arrow"></div>
        </div>
        <div class="greeting__image-wrap">
            <img src="images/photo.png" alt="Артём Изосимов" class="greeting__photo">
        </div>
    </div>

</section>
