<section id="skills-section" class="skills">
    <div class="general-wrapper skills-wrapper">
        <div class="left-side">
            <div class="skills__headline">
                <h2 class="section-title">Навыки</h2>
                <p class="classic-text">Каждый начинающий frontend-разработчик сегодня обязан располагать знаниями и опытом использования множества технологий и программ.
                Для качественного результата и работы в команде, я постоянно стремлюсь к получению новых знаний, изучению технологий и методик, а также развитию soft skills.</p>
            </div>
        </div>
        <ul class="skills__skills-list">
            <li class="skills__skills-item">
                <img src="images/html5.png" alt="HTML5" class="skills__item-image" />
                <div class="skills__item-wrap">
                    <h3 class="skills__item-title">HTML5</h3>
                    <p class="skills__item-description classic-text">Применяю семантическую, адаптивную, кроссбраузерную верстку, с использованием методологии БЭМ. Пишу валидный переиспользуемый код, имею практический опыт работы с шаблонизатором HTML - handlebars.</p>
                </div>
            </li>
            <li class="skills__skills-item">
                <img src="images/css.png" alt="CSS3" class="skills__item-image css-img" />
                <div class="skills__item-wrap">
                    <h3 class="skills__item-title">CSS3</h3>
                    <p class="skills__item-description classic-text">В верстке использую Flexbox/Grid. Могу задействовать некоторые сторонние библиотеки, например, Bootstrap или animate.js.</p>
                </div>
            </li>
            <li class="skills__skills-item">
                <img src="images/js.png" alt="JavaScript" class="skills__item-image js-img" />
                <div class="skills__item-wrap">
                    <h3 class="skills__item-title">JavaScript (ES6)</h3>
                    <p class="skills__item-description classic-text">Базовые знания Javascript, понимание основ ООП, взаимодействие с DOM и BOM -элементами. Руководствуясь принципами KISS и DRY, стараюсь поддерживать простой, понятный, поддерживаемый код, без излишнего дублирования и усложненных конструкций.</p>
                </div>
            </li>
            <li class="skills__skills-item">
                <img src="images/github-logo.png" alt="GitHub" class="skills__item-image" />
                <div class="skills__item-wrap">
                    <h3 class="skills__item-title">GitHub</h3>
                    <p class="skills__item-description classic-text">У каждого разработчика, особенно при командной работе, есть необходимость использовать Git. Вы пожете посмотреть мой профиль по <a href="https://github.com/izosimov" target="_blank" class="simple-ref">ссылке</a>.</p>
                </div>
            </li>
            <li class="skills__skills-item">
                <img src="images/gulp.png" alt="Gulp" class="skills__item-image gulp-img" />
                <div class="skills__item-wrap">
                    <h3 class="skills__item-title">Gulp</h3>
                    <p class="skills__item-description classic-text">В работе использую Gulp, также имел небольшой опыт со сборщиком проекта Webpack.</p>
                </div>
            </li>
            <li class="skills__skills-item">
                <img src="images/postcss.png" alt="PostCSS" class="skills__item-image" />
                <div class="skills__item-wrap">
                    <h3 class="skills__item-title">PostCSS</h3>
                    <p class="skills__item-description classic-text">Использование препроцессоров ускоряет разработку и упрощяет читабельность кода. PostCSS- современная технология, одна из самых часто загружаемых с npm инструментов для работы с CSS для многих разработчиков.</p>
                </div>
            </li>
            <li class="skills__skills-item">
                <img src="images/sass.svg" alt="SASS" class="skills__item-image" />
                <div class="skills__item-wrap">
                    <h3 class="skills__item-title">SASS/SCSS</h3>
                    <p class="skills__item-description classic-text">Имел также небольшой опыт работы с SASS/SCSS. Удобный, понятный и широко используемый инструмент.</p>
                </div>
            </li>
            <li class="skills__skills-item">
                <img src="images/sketch.png" alt="Sketch" class="skills__item-image" />
                <div class="skills__item-wrap">
                    <h3 class="skills__item-title">Sketch</h3>
                    <p class="skills__item-description classic-text">Иногда возникает надобность что-то быстро подкорректировать в графическом редакторе. Photoshop теряет свою популярность, поэтому не лишним владеть инструментарием такой программы как Sketch.</p>
                </div>
            </li>
        </ul>
        <div class="skills__show-more">Смотреть ещё</div>
    </div>
</section>
